{% extends "::empty.html.twig" %}

{% block menulayout %}  
<li>
<a href="tables.html"><i class="fa fa-user fa-fw"></i> Mon compte</a>
</li>

<li>
<a href="{{ path('project_list')}}"><i class="fa fa-user fa-fw"></i> Liste projets</a>
</li>
       



                        
                    
         
{% endblock%} 


