{# empty Twig template #}
{% extends ['userBundle:dashboard:dashboard.html.twig']%}
    {% block Containtname %}
        <a href="{{ path('Besoin_add', {'idprojet': app.request.get('idprojet') })}}" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> Ajouter</a>
  
    {% endblock %}
    {% block Containt %}



        {% block modal%}
            {%endblock%}
        
 
        
        
        <script>
        $(document).ready(function(){
$("#mytable #checkall").click(function () {
        if ($("#mytable #checkall").is(':checked')) {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", true);
            });

        } else {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", false);
            });
        }
    });
    
    $("[data-toggle=tooltip]").tooltip();
});    
            
            
        </script>    
    {% endblock %}    
    
    
    